.container{
    display: flex;
}

.dashboard{
    z-index: 0;
    position: relative;
    width: 100%;
}

.topBaseGradients{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20rem;
    overflow: hidden;
}

.topBaseGradients > :nth-child(2){
    left: 40%;
}

.topBaseGradients > :nth-child(3){
    right: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.header>:nth-child(1){
    font-size: 1.2rem;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.profile>img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.info{
    font-weight: bold;
}

.content{
    display: flex;
    height: 100%;
    margin: auto;
    margin-top: 1rem;
}

.content>div{
    width: 100%;
    min-width: 75vh;
}