.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 6rem;
    padding: 2rem 0;
    background: rgb(20, 20, 20);
}

.logo{
    width: 45%;
    max-width: 5rem;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 5rem;
}

.item>svg{
    width: 3rem;
    fill: #fff;
}